body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.main_wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.tab_menu{
  width: 225px;
  height: 100%;
  background-color: #1E2B32;
  box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.75);
  z-index: 1;
}
.tab{
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 0;
  display: inline-block;
  text-align: left !important;
}
.tab--selected{
  background-color: #ced4da !important;
  font-weight: bold;
}
.tab:hover{background-color: lightgray;}

.content{
  width: 100%;
  height: 100%;
  background: url("backgrounds/back1.jpg") no-repeat;
  background-size: cover;
}



.tabs_main_div{padding: 10px 200px 10px 50px; }
.filter_menu{ display: flex; }
.fm_element{ padding: 5px; /*border: 1px solid green;*/ }
.dropdown_wrapper{ width: 250px; }
.label{ padding-left: 2px; }
.btn_wrapper{ margin: 0 0 0 auto; padding-top: 30px; }
.button_menu{ display: flex; height: 50px; padding-left: 5px;}


.SingleDatePickerInput { border: 0px; }
/* Fix the font size and other stuff of datepicker*/
.DateInput_input, .DateInput_input_1 {
  /* my personal stuff */
  text-align: center;
  line-height: calc(1.5em + 0.75rem);
  /* default flatly stuff */
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.9375rem;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#example_graph{
  border: 1px solid lightgray;
}

.test_tab1, .test_tab2, .test_tab3,
.test_tab4, .test_tab5{
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.test_tab1{ background: url("backgrounds/test.png") no-repeat; }
.test_tab2{ background: url("backgrounds/ret_test.png") no-repeat;}
.test_tab3{ background: url("backgrounds/money.gif") no-repeat;}
.test_tab4{ background: url("backgrounds/tutorial.png") no-repeat;}
.test_tab5{ background: url("backgrounds/spins.gif") no-repeat;}